/* {
  margin: 0;
  padding: 0;
} */
body{
font-family: 'Montserrat', sans-serif;
margin: 0;

}
nav{
 background-color: #ec4646;
 color: #f0f0f0;
 padding:3% 7%;
 margin: 0 0 30px 0;
 border-radius: 0 0 1rem 1rem;

}
.nav-brandName{
  display: inline;
}
a{
  text-decoration: none;
    color: #fafafa;
    font-weight: 400;
}
.nav-link{
  color: #fafafa;
  padding: 0.5rem 1em;
  font-size: larger;

}
.navigation li{
display:  inline;
}
 .navigation ul{
  text-align: right;
  display: inline;
  position: absolute;
  right: 5%;
}
.hero-img{
  max-width: 350px;
  display: block;
  margin: auto;
  text-align: center;
}
header{
  text-align: center;
  padding: 3% 15%;
  margin:2%;

}
.title{
color: #ec4646;

}
section{
  padding: 3% 15%;
}
.Technologies,.blogs{
  background-color: #e6e6e6;
}
.Technologies p ,.Technologies ol{
  padding-left: 20px;
}
.primary-button{
  padding: 1% 5%;
  border: solid 2px  #ec4646;
background-color: #ec4646;
border-radius: .5rem;
  color:#fafafa;
  text-align: left;
}
.secondary-button{
  padding: 1% 5%;
  border: solid 2px  #ec4646;
border-radius: .5rem;
  color:#ec4646;
  text-align: left;
}
footer{
  background-color: #ec4646;
  text-align: center;
  padding: 1% 15%;
  color: #fafafa;
}
.icons li{
  display: inline;

  padding:0 .5rem;
}
.projects-sec,.blogs-sec{
  margin:2%;
}
.blog-text{
  text-align: left;
  font-weight:425;
}

.blog-link{
  color:#ec4646;
  
}

.blog-img{
  max-width: 550px;
  display: block;
  margin: 1rem auto;
  text-align: center;
}
